<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- CSS only Bootstrap-->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->

    <!-- JavaScript Bundle with Popper -->  
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script> -->

    {% load static %}
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
</head>

<body>
    {% include "main/includes/navbar.html" %}
    {% include "main/includes/messages.html" %}
    
    <div class="container" style="max-width: 100%; min-height: 100%;">
      {% block con %}
      {% endblock %}
    </div>
    
</body>

<script src="{% static 'tinymce/js/prism.js' %}"></script>
<script>M.AutoInit();</script>
