
{% extends "main/header.html" %}
<!-- "block" is django tag but con is just name -->
{% block con %}
    <div class="row" style="background-color: transparent;">
        {% for tut in tutorials %}
            <div class="col s12 m6 l4">
                <div class="card teal darken-2">
                    <div class="card-content deep-orange-text text-accent-1">
                        <span class="card-title">{{tut.tutorial_title}}</span>
                        <p style="font-size: 80%">{{tut.tutorial_published}}</p>
                        <p>{{tut.tutorial_content|safe}}</p>
                        <!-- <p>{{tut}}</p>  just print the title because of the str method that we override  -->
                    </div>
                    <div class="card-action">
                    <a href="/visit">Visit</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}